extends layout

block content
  h1= title
  ul
    each blog in data
      li= blog.blog_id + ": " + blog.title 

  hr
  h2 Create Post 
  form(action="/add", method="POST")
    div   
      label(for="blog") Enter title: 
      input(name="blog", id="blog", value="Lorem ipsom blah blah blah")
    div 
      button Create 

  hr
  h2 Delete Post 
  form(action="/delete", method="POST")  
    div 
      label(for="blog") Enter Entry ID: 
      input(name="blog", id="blog", value="Lorem ipsom blah blah blah")
    div 
      button Delete