<!DOCTYPE html>
<html lang="en">
<div class="page">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Happy Houseplants</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <div class="nav">
            <ul>
                <br>
                <li style="display: inline-block"><a href="">WELCOME</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">RECENTLY</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">TIP OF THE WEEK</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">NEW ENTRY</a></li>
                <br><br>
            </ul>
        </div>
        <br><br><br><br>
        <div style="text-align: center;">
            <img src="/images/pic.jpg" alt="Indoor plant care guide">
        </div>
        <br><br>
        <h1 id="welcome">Welcome to Happy Houseplants!</h1>
        <h2>- new posts weekly to keep you updated on the latest tips on plant care</h2><br>
        <div>
            <h3 id="recently">MOST RECENTLY</h3>
            <p>
                blog entry - 4/20/22
                <br> <br>"Fertilizer. Let's talk about it. Is it really necessary for your happy houseplants? Well, it depends on what your
                plant goals are! If you are aiming to increase new growth and upsize your plants, it is recommended to fertilize about
                once a month. I personally just use a liquid MiracleGro fertilizer - generic for all houseplants. There are many kinds of
                fertilizer out there, and you can get as plant-specific as you wish.
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id
                <br><br>
             </p>
            <br><br>
            <div>
                <h3 id="water">WHEN TO WATER</h3>
                <p> blog entry – 5/12/22
                    <br><br>There are so many factors when it comes to watering! The greatest piece of advice I could give you is
                    just to CHECK!! Here's the thing: no one can tell you when to water your houseplants. Not an article, not an app, not me.
                    You'll probably be okay watering dependent on time (i.e. once a week), however to reduce crispy or yellow leaves, you
                    want to feel the soil of your plant to check if it needs moisture. Even if you know your plant well: the outdoor weather / time of year,
                    location in your home, and state of the roots will all affect its water consumption. The best way to judge if your plant
                    needs a drink is simply to insert your finger in the soil at least to the second knuckle. Most plants like their soil
                    to dry out before being watered again, but this also varies and a simple google search will help you know the best moisture state
                    to water your plant again.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id. Curabitur nec convallis mauris, sit amet eleifend dolor. 
                </p>
            </div>
            <h3 id="tip">TIP OF THE WEEK - PROPOGATION</h3>
            <p id="third"> <br>blog entry – 5/19/22
                    <br><br>You don't need to buy more plants... You can just make them! Do you have a lovely pothos you'd like more of? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo neque, ultrices non hendrerit suscipit, vestibulum et nulla. Nulla cursus pulvinar nisi, nec consequat odio pretium et. Maecenas rutrum arcu nibh, sit amet tristique mauris efficitur sed. Curabitur quis eros at odio aliquam pellentesque. Maecenas libero justo, blandit eget lacus nec, pellentesque egestas augue. Donec nec metus sed massa fringilla vulputate vitae vel velit. Nunc ut turpis eu nisi aliquam sodales. Fusce ante urna, lobortis sed porttitor sit amet, convallis vitae mi. Maecenas porta tellus ut dolor placerat efficitur. Sed eget lobortis lorem, id mattis mauris.
<br><br>
            </p>
            <h3 id="monstera">MONSTERA WEEK</h3>
            <p> <br>blog entry – 5/26/22
                    <br><br>Monstera are species of evergreen tropical vines and shrubs that are native to Central America. They are famous for their natural leaf-holes, which has led to the rise of their nickname, Swiss Cheese Plant. The Monstera's leaf-holes are called fenestrations and are theorized to maximize sun fleck capture on the forest floor by increasing the spread of the leaf while decreasing the mass of leaf cells to support.
            <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo neque, ultrices non hendrerit suscipit, vestibulum et nulla. Nulla cursus pulvinar nisi, nec consequat odio pretium et. Maecenas rutrum arcu nibh, sit amet tristique mauris efficitur sed. Curabitur quis eros at odio aliquam pellentesque. Maecenas libero justo, blandit eget lacus nec, pellentesque egestas augue. Donec nec metus sed massa fringilla vulputate vitae vel velit. Nunc ut turpis eu nisi aliquam sodales. Fusce ante urna, lobortis sed porttitor sit amet, convallis vitae mi. Maecenas porta tellus ut dolor placerat efficitur. Sed eget lobortis lorem, id mattis mauris.
            <br><br></p>
        </div>
        <h3 id="new">NEW ENTRY</h3>
        <div class="add">
        <ul>
            {% for txt in data%}
            <ul>{{txt.blog_id}} - {{txt.blog_txt}}  </ul>
            {% endfor%}
        </ul>
        </div>
        <hr>
        <div class="add">
        <h2>Add entry</h2>
        <form action="/add" method="POST">
            <div>
                <label for="entry">New Blog Entry:</label>
                <input name="blog" id="blog" value="Enter new"/>
            </div>
            <div>
                <button>submit entry</button>
            </div>
        </form>
        <hr>
        <h2>Delete entry</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="blog">Entry to delete:</label>
                <input name="blog" id="blog" value="1" />
            </div>
            <div>
                <button>delete entry</button>
            </div>
        </form>
    </body>
</div>

</html>
