<!DOCTYPE html>
<html lang="en">
<div class="page">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BlahBlahBlog</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <div class="nav">
            <ul>
                <br>
                <li style="display: inline-block"><a href="">WELCOME</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">RECENTLY</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">TIP OF THE WEEK</a></li>&emsp;&emsp;
                <li style="display: inline-block"><a href="">NEW ENTRY</a></li>
                <br><br>
            </ul>
        </div>
        <br><br><br><br>
        <div style="text-align: center;">
            <img src="/images/pic.jpg" alt="Indoor plant care guide">
        </div>
        <br><br>
        <h1 id="welcome">Welcome to the blah blah blah blog!</h1>
        <h2>- new posts weekly to keep you updated on the latest blahblahblah</h2><br>
        <div>
            <h3 id="recently">MOST RECENTLY</h3>
            <p>
                blog entry - 4/20/22
                <br> <br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo neque, ultrices non hendrerit suscipit, vestibulum et nulla. Nulla cursus pulvinar nisi, nec consequat odio pretium et. Maecenas rutrum arcu nibh, sit amet tristique mauris efficitur sed. Curabitur quis eros at odio aliquam pellentesque. Maecenas libero justo, blandit eget lacus nec, pellentesque egestas augue. Donec nec metus sed massa fringilla vulputate vitae vel velit. Nunc ut turpis eu nisi aliquam sodales. Fusce ante urna, lobortis sed porttitor sit amet, convallis vitae mi. Maecenas porta tellus ut dolor placerat efficitur. Sed eget lobortis lorem, id mattis mauris.

                Duis convallis est leo, id fermentum sem fermentum et. Maecenas porta vel metus id sollicitudin. Aliquam porta, elit sed pellentesque finibus, dui lacus viverra augue, at auctor ipsum elit ut diam. Praesent fermentum, dolor in aliquet placerat, justo felis molestie neque, vel porta felis metus et enim. Nulla aliquet dolor ac nibh sollicitudin, ac ultricies augue ornare. Phasellus scelerisque orci non dolor semper, eu tempor quam pulvinar. Ut ultrices lorem eu lacus accumsan pharetra.
            </p>
            <br><br>
            <div>
                <h3 id="water">WHEN TO WATER</h3>
                <p> blog entry – 5/12/22
                    <br><br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id. Curabitur nec convallis mauris, sit amet eleifend dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lacinia vehicula mattis. Maecenas ligula turpis, tempor at massa id, porta tincidunt justo. Nullam sed rutrum eros. Curabitur ullamcorper ligula at diam semper congue non id metus. Vivamus lacinia pharetra tortor, at efficitur velit pulvinar non. Morbi et libero eget ligula tincidunt dictum sit amet sed velit. Donec viverra felis est, at fermentum metus vulputate in. Curabitur convallis est eget nisl finibus, non sollicitudin leo ullamcorper. Morbi eleifend erat a nisl maximus egestas. Nunc quis libero ut augue hendrerit malesuada. Praesent posuere elit sapien, a luctus justo ornare eget. Quisque nec tellus enim. Nulla lacus mauris, euismod in massa in, blandit varius 
                </p>
            </div>
            <h3 id="tip">TIP OF THE WEEK - PROPOGATION</h3>
            <p id="third"> <br>blog entry – 5/19/22
                    <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo neque, ultrices non hendrerit suscipit, vestibulum et nulla. Nulla cursus pulvinar nisi, nec consequat odio pretium et. Maecenas rutrum arcu nibh, sit amet tristique mauris efficitur sed. Curabitur quis eros at odio aliquam pellentesque. Maecenas libero justo, blandit eget lacus nec, pellentesque egestas augue. Donec nec metus sed massa fringilla vulputate vitae vel velit. Nunc ut turpis eu nisi aliquam sodales. Fusce ante urna, lobortis sed porttitor sit amet, convallis vitae mi. Maecenas porta tellus ut dolor placerat efficitur. Sed eget lobortis lorem, id mattis mauris.
<br><br>
Duis convallis est leo, id fermentum sem fermentum et. Maecenas porta vel metus id sollicitudin. Aliquam porta, elit sed pellentesque finibus, dui lacus viverra augue, at auctor ipsum elit ut diam. Praesent fermentum, dolor in aliquet placerat, justo felis molestie neque, vel porta felis metus et enim. Nulla aliquet dolor ac nibh sollicitudin, ac ultricies augue ornare. Phasellus scelerisque orci non dolor semper, eu tempor quam pulvinar. Ut ultrices lorem eu lacus accumsan pharetra.

           <br><br>
            </p>
            <h3 id="monstera">MONSTERA WEEK</h3>
            <p> <br>blog entry – 5/26/22
                    <br><br>Monstera are species of evergreen tropical vines and shrubs that are native to Central America. They are famous for their natural leaf-holes, which has led to the rise of their nickname, Swiss Cheese Plant. The Monstera's leaf-holes are called fenestrations and are theorized to maximize sun fleck capture on the forest floor by increasing the spread of the leaf while decreasing the mass of leaf cells to support.
            <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo neque, ultrices non hendrerit suscipit, vestibulum et nulla. Nulla cursus pulvinar nisi, nec consequat odio pretium et. Maecenas rutrum arcu nibh, sit amet tristique mauris efficitur sed. Curabitur quis eros at odio aliquam pellentesque. Maecenas libero justo, blandit eget lacus nec, pellentesque egestas augue. Donec nec metus sed massa fringilla vulputate vitae vel velit. Nunc ut turpis eu nisi aliquam sodales. Fusce ante urna, lobortis sed porttitor sit amet, convallis vitae mi. Maecenas porta tellus ut dolor placerat efficitur. Sed eget lobortis lorem, id mattis mauris.
            <br><br></p>
        </div>
        <div class="add">
        <ul>
            {% for txt in data%}
            <ul>{{txt.blog_id}} - {{txt.blog_txt}}  </ul>
            {% endfor%}
        </ul>
        </div>

        <hr>
        <div class="add">
        <h2>Add entry</h2>
        <form action="/add" method="POST">
            <div>
                <label for="blog">New Blog Entry:</label>
                <input name="blog" id="blog" value="Hi this is my blog text!" />
            </div>
            <div>
                <button>submit entry</button>
            </div>
        </form>
        <hr>
        <h2>Delete entry</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="blog">Entry to delete:</label>
                <input name="blog" id="blog" value="1" />
            </div>
            <div>
                <button>delete entry</button>
            </div>
        </form>
        </div>
    </body>
</div>

</html>
